/*Variables globales*/
:root{
    --color-fondo: #F5F0EB;            
    --color-principal: #F09825;        
    --color-secundario: #5C180D;      
    --color-detalle: #718896;

    --color-texto-principal: #2D2B2A;  
    --color-texto-secundario: #883225;

    --fuente-texto: "Montserrat";
}


/*Reset basico*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-fondo);
    color: var(--color-texto-principal);

    font-family: var(--fuente-texto);
    font-size: 16px;
    line-height: 1.8;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 1rem;
}
/*Header*/

/*Navegacion*/

/*Main*/

/*Footer*/